table{
	width: 100%;
	height: 1300px;
}
body{
	margin: 0px;
}

.white{
	background-color: white;
}
.black{
	background-color: black;
}


.border-background{
	width: 100%;
	height: 1333px;
}
.slideshow-container img{
		/* display: block;
    margin: auto;
		padding-top: 12%;
    width: 60vh; */
}
.slides{
	display: block;
	 margin: auto;
}
.container{
	/* height: 100vh;
	width: :100vw; */
}
